<html>
<head>
	<title> {{ .Title }} </title>
	<script src="https://unpkg.com/htmx.org@1.9.3" integrity="sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua" crossorigin="anonymous"></script>
</head>

<body>
	<h1> {{ .Title }} </h1>
	<div id="refresh">
	<p> {{ .Result }} </p>
	</div>
	<button hx-get="/refresh"
		hx-target="#refresh"
		hx-swap="innerHTML"
		>
		Refresh
		<img class="htmx-indicator" 
		src="/static/oval.svg" 
		>
	</button>
	<p> {{ .Hot }} </p>
	<img src= "{{ .ImagePath }}" alt="This is fine">
</body>
</html>

