<html>
<head>
	<title> {{ .Title }} </title>
	<script src="https://unpkg.com/htmx.org@1.9.3" integrity="sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua" crossorigin="anonymous"></script>
	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gradient-to-r from-violet-400 to-blue-500 " >
	<div class="flex justify-center">
		<h1 class="text-6xl"> {{ .Title }} </h1>
	</div>
	<div id="refresh" class="flex justify-center">
	<p> {{ .Result }} </p>
	</div>
	<div class="flex justify-center">
	<button class = "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
		hx-get="/refresh"
		hx-target="#refresh"
		hx-swap="innerHTML"
		>
		Refresh
		<img class="htmx-indicator" 
		src="/static/tail-spin.svg" 
		>
	</button>
	</div>
	<div class="flex justify-center">
	<p> {{ .Hot }} </p>
	</div>
	<div class="flex justify-center">
	<img src= "{{ .ImagePath }}" alt="This is fine">
	</div>
	<div class="h-screen block">
	</div>
	<div class="h-96">
		<p hx-get="/scroll"
		hx-trigger="revealed"
		hx-swap="afterend"
		hx-target="#scroll"
		>
		</p>
	</div>
	<div id = "scroll" class="flex justify-center">
	</div>
	</body>
</html>

